#menulink::before {
    content: "<";
    padding-right: 1rem;
}

.hrheader {
    justify-content: center;
}

.stepheader,
.step {
    margin-bottom: 1rem;
}

.step {
    display: block;
    padding: 0;
    background: none;
    font-size: 1rem;
    text-align: left;
    text-wrap: wrap;
    border: none;
    border-radius: 0;
    box-shadow: none;
    user-select: auto;
}

.step:hover {
    background: none;
}

.step:hover:active {
    background: none;
    box-shadow: none;
    transform: none;
}

.step.done {
    opacity: 0.5;
    text-decoration: line-through;
}