* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

/* --------- */

/* mobile display */

@media only screen and not (max-width: 600px) {
    .mobileshow {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    .mobilehide {
        display: none !important;
    }
}

/* --------- */

/* images */

img {
    display: inline-block;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    user-select: none;
}

.bgimage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------- */

/* line break */

.br-top {
    margin-top: 1rem;
}

.br-bottom {
    margin-bottom: 1rem;
}

/* --------- */

/* horizontal break */

hr {
    width: 100%;
}

/* --------- */

/* header with hr */

.hrheader {
    display: flex;
    align-items: center;
}

.hrheader * {
    min-width: fit-content;
}

.hrheader > hr.right {
    margin-left: 1rem;
}

.hrheader > hr.left {
    margin-right: 1rem;
}

/* --------- */

/* links and buttons */

button,
a.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: var(--white);
    color: var(--black);
    text-wrap: nowrap;
    text-decoration: none;
    border: 3px solid var(--black);
    border-radius: 99px;
    box-shadow: 0 5px 0 var(--shadow);
    user-select: none;
    transition-duration: 300ms;
}

button:hover,
a.button:hover {
    background-color: var(--a_lightpink);
}

button:hover:active,
button.active,
a.button:hover:active,
a.button.active {
    color: var(--black);
    background-color: var(--a_strongpink);
    box-shadow: 0 1px 0 var(--shadow);
    transform: translateY(4px);
}

button:hover:active,
a.button:hover:active {
    transition-duration: 10ms;
}

.buttons {
    display: flex;
    padding: 1rem;
    padding-top: 0.5rem;
    overflow-x: scroll;
}

.buttons > * {
    margin: 0 0.5rem;
}

.buttons > *:first-child {
    margin-left: 0;
}

.buttons > *:last-child {
    margin-right: 0;
}

/* --------- */

/* lists */

ol,
ul {
    margin-left: 1.5rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-top: 0;
}

/* --------- */

/* header nav */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: var(--a_brown);
    box-shadow: 0px 8px 16px var(--shadow);
    overflow: hidden;
    user-select: none;
    z-index: 81;
}

nav * {
    color: var(--black);
}

@media only screen and not (max-width: 600px) {
    nav > div {
        width: 200px;
        height: 56px;
    }
    
    nav > div:not(#navlogo, #burgerbox) a {
        padding: 0.25rem 1rem;
        border-radius: 256px;
    }
    
    nav > div:not(#navlogo, #burgerbox) a:not(.active):hover {
        background: linear-gradient(to right, var(--white) 0%, var(--white) 50%, transparent 50%) right;
        background-size: 400%;
        animation: wipe 180ms linear forwards;
    }
    
    nav > div:not(#navlogo, #burgerbox) a:not(.active):hover:active {
        background: var(--a_strongpink);
        color: var(--white);
    }
    
    nav > div:not(#navlogo) a.active {
        background: var(--white);
        color: var(--black);
    }

    nav a.active {
        background-color: var(--white);
    }

    #burgerbox,
    #hbmenu {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    nav > div:not(#navlogo, #burgerbox, #hbmenu, #hbmshadow) {
        display: none;
    }

    #navlogo {
        justify-content: flex-start;
        position: fixed;
        left: 32px;
    }

    #burgerbox {
        position: fixed;
        top: 0;
        right: 4px;
        width: 64px;
        height: 64px;
    }
    
    #burgerbox > button {
        padding: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        cursor: pointer;
        transform: none;
    }

    #hbmenu {
        position: fixed;
        top: 64px;
        right: -100vw;
        width: 100vw;
        height: calc(100vh - 64px);
        background-color: var(--white);
        z-index: 72;
        transition-duration: 500ms;
    }

    #hbmenu.active {
        right: 0;
    }

    #hbmshadow {
        position: fixed;
        top: 64px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 64px);
        z-index: 64;
        transition-duration: 500ms;
        pointer-events: none;
    }

    #hbmshadow.active {
        background-color: var(--shadow);
    }
    
    #hbmenu > a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 64px;
        padding: 32px;
        color: var(--black);
    }
    
    #hbmenu > a:not(.active):hover {
        background: linear-gradient(to right, transparent 0%, transparent 50%, var(--a_lightpink) 50%) right;
        background-size: 400%;
        animation: reverse wipe 360ms linear forwards;
    }
    
    #hbmenu > a:hover:active,
    #hbmenu > a.active {
        background-color: var(--a_strongpink);
        color: var(--white);
    }
}

/* --------- */

/* main */

main > *:first-child {
    margin-top: 64px;
}

article > main {
    min-height: calc(100vh - 240px);
}

/* --------- */

/* main footer */

#articlefooter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 160px;
    padding: 0 64px;
}

@media only screen and (max-width: 600px) {
    #articlefooter {
        align-items: center;
    }
}

/* --------- */

/* footer */

footer {
    position: fixed;
    right: 12px;
    bottom: 12px;
    height: 32px;
    font-size: 10px;
    user-select: none;
    z-index: 99;
}

footer > div {
    opacity: 0.3;
    transition-duration: 500ms;
}

footer > div:hover {
    opacity: 0.6;
}

footer p {
    position: relative;
    top: 6px;
    padding-right: 12px;
    color: var(--gray);
}

@media only screen and (max-width: 600px) {
    footer {
        width: 100%;
        right: 0;
    }
}

/* --------- */

/* section */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section.hrbreak {
    justify-content: center;
    align-items: center;
    height: 16px;
}

/* --------- */

/* flexbox */

[class*="flexcenter"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcenter-horizontal {
    align-items: flex-start;
}

.flexcenter-horizontal-inverse {
    align-items: flex-end;
}

.flexcenter-vertical {
    justify-content: flex-start;
}

.flexcenter-vertical-inverse {
    justify-content: flex-end;
}

/* --------- */

/* row/column grid view */
.row {
    display: flex;
    width: 100%;
}

.row.center {
    justify-content: center;
    align-items: center;
}

.row.center.horizontal {
    align-items: flex-start;
}

[class*="column-"].center {
    text-align: center;
}

.column-5 {
    width: 5%;
}

.column-10 {
    width: 10%;
}

.column-15 {
    width: 15%;
}

.column-20 {
    width: 20%;
}

.column-25 {
    width: 25%;
}

.column-30 {
    width: 30%;
}

.column-35 {
    width: 35%;
}

.column-40 {
    width: 40%;
}

.column-45 {
    width: 45%;
}

.column-50 {
    width: 50%;
}

.column-55 {
    width: 55%;
}

.column-60 {
    width: 60%;
}

.column-65 {
    width: 65%;
}

.column-70 {
    width: 70%;
}

.column-75 {
    width: 75%;
}

.column-80 {
    width: 80%;
}

.column-85 {
    width: 85%;
}

.column-90 {
    width: 90%;
}

.column-95 {
    width: 95%;
}

.column-100 {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    [class*="column-"] {
        width: 100%;
        padding: 0 1rem;
    }
}

.spin {
    animation: spin 1080ms linear infinite;
}

/* --------- */

@keyframes fade {
    0% {
        color: var(--a_red);
    }
    100% {
        color: var(--a_orange);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wipe {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }

}